/* :root {
    --main-color: #E14F62;
    --gradient-start: #E14F62ab;
    --gradient-end: #E14F62a3;
    --scrollbar-color: #E14F62;
  } */
/* Form{
  width: 80%;
  margin: 200px auto;
  color: white;
} */
.contact-content {
  margin: 40px 0px 40px 40px;
  color: #fff;
  height: calc(100% - 80px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.contact-content::-webkit-scrollbar {
  width: 8px;
}

.contact-content::-webkit-scrollbar-track {
  border-radius: 10px;
}

.contact-content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
.hero-contact {
  width: 100%;
  height: 90vh;
  position: relative;
  /* border-bottom: 1px solid #707070; */
}
.hero-contact .text-area-contact {
  width: 60%;
  margin: auto;
}

.hero-contact .text-area-contact h1 {
  z-index: 9999; /* Adjusted to a reasonable value */
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-align: center;

}

.hero-contact .text-area-contact p {
  z-index: 9999; /* Adjusted to a reasonable value */
  /* font-family: "Courier Prime", monospace; */
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ababab;
}
.hero-contact .bg-text h1 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: "Courier Prime", monospace;
  position: absolute;
  font-size: 700px;
  top: 0;
  font-weight: 600;
  color: #707070;
  mix-blend-mode: overlay;
  z-index: 999; /* Decreased to be behind the image */
}

/* Contact Form */

.form-container {
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
Form {
  font-family: "Courier Prime", monospace;
  width: 800px;
  margin: 0 auto;
  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: white;
  background-color: #0f0f0f30;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 99999;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.144);

  /* padding: 50px; */
}
.form-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.144);
  padding: 14px;
  /* gap: 20px; */
}
.form-top h3 {
  font-size: 16px;
}
.form-inner-container {
  /* border: 1px solid red; */
  padding: 70px;
}
.form-lables {
  font-size: 16px;
}
.contact-counts {
  color: #707070;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  background-color: #0f0f0f4d;
  border: 0.5px solid rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1); */

  color: #fff;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #0f0f0f4d;
  border: 0.5px solid rgba(255, 255, 255, 0.144);
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
textarea {
  width: 100%;
  padding: 20px;
  height: 170px;
  resize: none;
  margin-top: 5px;
  border: none;
  border-radius: 2px;
  background-color: #0f0f0f4d;
  border: 0.5px solid rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1); */
  color: #fff;
}
.error {
  font-size: 14px;
  margin: 3px 0;
  color: rgb(255, 67, 67);
}
.checkbox-text {
  margin-left: 10px;
  position: relative;
  bottom: 5px;
}
.form-btn {
  background-color: #0f0f0f;
  color: #fff;
  outline: none;
  border: 1px solid #707070;
  padding: 10px 20px;
}
